body {font-family: "Lato", sans-serif}

#sbu
{
    font-size: 200px;
    font-family: 'Bangers', cursive;
}
#love
{
    color:lightgray;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

#sbu-photo{
    float:left;
    margin-right:15px;
}
.bio {
    margin:-5px;
}
#video-container {
    top:0%;
    left:0%;
    height:auto;
    width:100%;
    overflow: hidden;
    position: relative;
}
video {
    position: inherit;
    z-index: 0;
        width: 100%;
}
#cloud-container {
    background-color: black;
    width: 100%;
    margin-top: -10px;
    top: 50%;
    left: 50%;
    display:flex;
    justify-content: center;

}
.soundcloud {
    z-index: 0;
    width: 50%;
}

